@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");
:root {
	--black: #26292d;
	--white: #fff;
	--perpule: #7d05e7;
	--page-bg: var(--white);
	--text-color: var(--black);
	--projects-cart-bg: var(--black);
	--projects-cart-text: var(--white);
}

html,
body {
	letter-spacing: -0.5px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--page-bg);
	color: var(--text-color);
}

.dark {
	--page-bg: #252526;
	--text-color: var(--white);
}

a {
}

.none {
	display: none !important;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.nav {
	padding: 20px 0;
	background-color: var(--black);
	color: #fff;
	letter-spacing: normal;
}

.nav__rou {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.logo {
	margin-right: auto;
	color: #ffffff;
	font-size: 24px;
	font-family: "Popins", sans-serif;
}

.logo strong {
	font-weight: 700;
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: "Popins", sans-serif;
}

.nav__list-link {
	color: #fff;
	text-decoration: none;
	transition: 0.2ms ease-in;
}

.nav__list-link:hover {
	opacity: 0.8;
}

.nav__list-link--active {
	position: relative;
	color: #fff;
	text-decoration: none;
}

.nav__list-link--active::before {
	position: absolute;
	left: 0;
	top: 100%;
	content: "";
	height: 2px;
	width: 100%;
	background-color: var(--perpule);
}

/* button */

.dark-mode-btn {
	order: 5;
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 51px;
	height: 26px;
	border-radius: 50px;
	padding: 5px;
	background-color: #272727;
}

.dark-mode-btn::before {
	position: absolute;
	top: 1px;
	left: 1px;
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: var(--white);

	transition: left 0.2s ease-in;
}

.dark-mode-btn-active::before {
	left: 26px;
}

.dark-mode-btn-icon {
	position: relative;
	z-index: 5;
}

/*header*/

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	min-height: 695px;
	background-color: var(--black);
	color: var(--white);
	text-align: center;
	background-image: url(../img/header-bg.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}

.header__wrapper {
	padding: 0 15px;
	max-width: 660px;
}

.header__title {
	margin-bottom: 20px;
	font-size: 40px;
	line-height: 1.4;
	font-weight: 700;
}

.header__title strong {
	font-size: 60px;
	font-weight: 700;
}

.header__title em {
	font-style: normal;
}

.header__text {
	margin-bottom: 40px;
	font-size: 19px;
	color: var(--white);
	/* line-height: 1.3px; */
}

.header__text p + p {
	margin-top: 0.5em;
}

.button {
	display: inline-block;
	height: 48px;
	padding: 12px 28px 12px 28px;
	border-radius: 5px;
	background-color: var(--perpule);
	color: var(--white);
	letter-spacing: 0.15px;
	font-size: 16px;
	font-weight: 500;
	transition: 0.2ms ease-in;
}

.button:hover {
	opacity: 0.8;
}

.button:active {
	position: relative;
	top: 1px;
}

/* General */
.section {
	padding: 70px 0;
}

.title-1 {
	margin-bottom: 60px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	font-size: 60px;
	color: var(--perpule);
}

.title-2 {
	margin-bottom: 20px;
	font-size: 40px;
	/* color: var(--black); */
	line-height: 1.3;
	font-weight: 700;
}

/* Projects */
.project__img {
	width: 300px;
	height: 200px;
}

.projects__item {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
	flex-direction: row;
	justify-content: center;
}

.project__link {
	max-width: 370px;
	background-color: var(--white);
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	background-color: var(--projects-cart-bg);
}

.project__title {
	padding: 15px 20px 25px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.3;
	color: var(--projects-cart-text);
}

/* Project-deatils*/

.project-details {
	margin: 0 auto;
	max-width: 865px;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.project-details__cover {
	max-width: 100%;
	margin-bottom: 40px;
	box-shadow: 0px 5px 35px rgba(0, 5, 35, 0.25);
	border-radius: 30px;
}
.project-details__desc {
	font-weight: 700;
	line-height: 1.3;
	font-size: 24px;
	margin-bottom: 30px;
}
.btn-outline {
	height: 48px;
	padding: 12px 20px;
	border-radius: 5px;
	border: 1px solid var(--black);
	color: inherit;
}

/*      skills   */

.contant-list {
	margin: 0 auto;
	max-width: 570px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	row-gap: 40px;
	/* color: var(--black); */
}

.content-list-item {
	font-size: 18px;
	line-height: 1.5;
}

.content-list-item p + p {
	margin-top: 0.5em;
}

/*     footer   */

.footer {
	background-color: var(--black);
	padding: 60px 0 50px;
	color: var(--white);
	margin-top: auto;
}

.footer__wraper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 27px;
}

.social {
	display: flex;
	column-gap: 30px;
	align-items: center;
}

.copyright P + P {
	margin-top: 0.5em;
}

/* mobile */

@media (max-width: 620px) {
	.header {
		min-height: unset;
	}

	.header__title {
		font-size: 30px;
	}

	.header__title strong {
		font-size: 40px;
	}

	.section {
		padding: 40px;
	}

	.nav__rou {
		justify-content: space-between;
	}

	.dark-mode-btn {
		order: 0;
	}

	.title-1 {
		font-size: 40px;
		margin-bottom: 40px;
	}

	.title-2 {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.contant-list {
		row-gap: 20px;
	}

	.content-list-item {
		font-size: 16px;
	}

	.projects__item {
		justify-content: center;
	}

	.social__item {
		width: 28px;
	}

	.footer__wraper {
		row-gap: 20px;
	}

	.social {
		column-gap: 20px;
	}

	.footer {
		padding: 40px 0 30px;
	}
}
